:root{
    --violeta: #4D455D;
    --rosa: #E96479;
    --beige: #F5E9CF;
    --verde: #7DB9B6;
}

.body{
    background-color: var(--violeta);
    color:white;
    margin:0px
}

#logoRoqueAllende{
    width:30%;
    padding: 0.5em 0em
}

.banner{
    width:0px
}

.botonera{
    height: 10vh;
}

#btn-buscar{
        margin-top:2em;
        --bs-btn-color: #fff;
        --bs-btn-bg: var(--rosa);
        --bs-btn-border-color: var(--rosa);
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: var(--rosa);
        --bs-btn-hover-border-color: #0a58ca;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: var(--rosa);
        --bs-btn-active-border-color: var(--rosa);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: var(--rosa);
        --bs-btn-disabled-border-color: --rosa;
    }

.logoVertical{
    width:150px;
    padding:5px
}

.logoPases{
    width:70px;
    padding:5px;
}

.col.botonera2{
    background-color:#363042;
    border-bottom: var(--beige) solid;
    opacity:0.6;
}


/*Media Querys*/

@media (max-width:600px){
    #logoRoqueAllende{
        width:60%;
    }

    .banner{
        width:390px;
        padding:0;
        margin:0;
        border:0;
    }
    
    

}